
@{
    ViewBag.Title = "AltModelDuzenle";
    Layout = "~/Shared/_LayoutAdminIndex.cshtml";
}
@model Sub_Model

<div>
    <form action="" method="post">
        <span>Kategori</span> @Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.Kategoriler, "id", "CategoryName"))
        <br />
        <span>Marka</span> @Html.DropDownListFor(x => x.BrandID, new SelectList(ViewBag.Markalar, "id", "BrandName"))
        <br />
        <span>Seri</span> @Html.DropDownListFor(x => x.SerieID, new SelectList(ViewBag.Seriler, "id", "SerieName"))
        <br />
        <span>Model</span> @Html.DropDownListFor(x => x.ModelID, new SelectList(ViewBag.Modeller, "id", "ModelName"))
        <br />
        <span>Alt Model Adı:</span> <input type="text" name="txtAltModelAdi" value="@Model.Sub_ModelName" required/>
        @if (ViewBag.Hata != null)
        {
            string hatalar = ViewBag.Hata1;
            <span>@hatalar</span>
        }
        <br />
        <input type="submit" name="name" value="Düzenle" />
    </form>
</div>

@section Login{
    @if (Session["AdminID"] == null)
    {
        <div class="collapse navbar-collapse navbarSec">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/Admin/Login">Giriş Yap</a></li>
            </ul>
        </div>
    }
    else
    {
        <div class="collapse navbar-collapse navbarSec">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/Admin/Logout">Çıkış Yap</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Araç Ekle <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/KategoriEkle">Kategori Ekle</a></li>
                        <li><a href="/Admin/MarkaEkle">Marka Ekle</a></li>
                        <li><a href="/Admin/SeriEkle">Seri Ekle</a></li>
                        <li><a href="/Admin/ModelEkle">Model Ekle</a></li>
                        <li><a href="/Admin/AltModelEkle">Altmodel Ekle</a></li>
                        <li><a href="/Admin/AracEkle">Araç Ekle</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Araç Listele <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Admin/KategoriListele">Kategori Listele</a></li>
                        <li><a href="/Admin/MarkaListele">Marka Listele</a></li>
                        <li><a href="/Admin/SeriListele">Seri Listele</a></li>
                        <li><a href="/Admin/ModelListele">Model Listele</a></li>
                        <li><a href="/Admin/AltModelListele">Altmodel Listele</a></li>
                        <li><a href="/Admin/AracListele">Araç Listele</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    }
}